body {
    font-family: "Century Gothic", 'Lato', sans-serif;
    margin: 0
}

a {
    text-decoration: none;
}

.landing-section {
    background-image: url("minimal.jpg") !important;

    min-height: 700px;
                
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em;

}

.et-slide {
    background-image: url("Triangle.jpg") !important;
    
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.et-slide.h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}

.et-slide.h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
    
}
.et-hero-tabs-container--top {
    position: fixed;
        top: 0;
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    
}
.et-hero-tab:hover {
    color: white;
    background: rgba(79, 166, 239, 0.80);
    transition: all 0.5s ease;
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #3C96E3;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {
    .et-hero-tabs,
    .et-slide.h3 {
        font-size: 1rem;
    }
    .et-slide.h1 {
        font-size: 3rem;
    }
    .et-hero-tab {
        font-size: 1rem;
    }
}